<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Me(This is NOT plagiarized)</h1>
        <p>I am an aspiring software engineer passionate about building web applications.</p>
        <h3>Technologies I'm working on:</h3>
        <ul>
            <li>HTML & CSS</li>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>And more</li>
        </ul>
        <h3>Education:</h3>
        <p>Currently enrolled in a Software Engineering program at GA.</p>
        <h3>Career Goals:</h3>
        <p>I hope to work as a Full stack Developer or a Cloud Engineer or in DevOps.</p>
        <a href="/">Back to homepage</a>
</body>
</html>